{% extends "base.html" %}
{% load static from staticfiles %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h1>FAQ:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="faq-table">
                <h3>For Teachers:</h3>
                <ul>
                  <li><a href="#use" class="anchor">How do I use CSDT?</a></li>
                </ul>
                <h3>For Students:</h3>
                <ul>
                    <li><a href="#done" class="anchor">What do I do after I am done with all CSDT modules?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
      <h1>For Teachers
    </div>
    <div class="row faq" id="use">
        <div class="col-md-3">
          <h4>--- How do I use CSDT??</h4>
        </div>
        <div class="col-md-9">
          <div class="faq-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet maximus elit. Fusce imperdiet eget massa vitae ornare. Aliquam rutrum iaculis justo, venenatis feugiat justo blandit a. Nam fermentum massa ac lorem aliquet pulvinar vestibulum ut odio. Sed interdum aliquet hendrerit. Sed nec nulla nisl. Sed sit amet consequat arcu. Pellentesque dapibus libero sed enim tincidunt egestas. Sed id cursus mauris. Praesent aliquet rutrum velit in interdum. Etiam tincidunt facilisis purus, ac pharetra libero sollicitudin vel. Etiam et nisi eget dui condimentum venenatis in non justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec lectus tortor, convallis id porttitor at, egestas quis ipsum.
              </p>
              <p>
              Nulla nec convallis lorem, eget sagittis nibh. Quisque sagittis nisi et mi tristique eleifend ac et ante. Vivamus pharetra lorem molestie nibh vehicula, a pulvinar dolor faucibus. Nam facilisis, nisi vitae mollis placerat, arcu est condimentum massa, eget ornare nisi urna ac neque. Nunc turpis orci, tempus et porta imperdiet, imperdiet vel augue. Vivamus sagittis blandit mi ac rhoncus. Suspendisse vulputate eu nisl pretium euismod. Proin sapien felis, accumsan ut velit eu, blandit euismod est. Nunc blandit turpis ac lobortis ultricies. Aenean pharetra erat id porttitor vulputate. Nullam condimentum, sem ac viverra porttitor, est nisi euismod velit, laoreet convallis nunc neque et mauris. Sed mattis, ante sed faucibus pulvinar, dolor ex sagittis metus, nec interdum leo nulla vel diam. In hac habitasse platea dictumst. Donec maximus feugiat vestibulum. Morbi vitae quam condimentum, porta massa eget, rhoncus ipsum.
              </p>
              <p>
              Aenean in sapien dignissim est pretium aliquet. Duis pharetra auctor dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed id tincidunt eros, id feugiat sapien. Nulla finibus, purus id iaculis rutrum, lectus libero pulvinar nibh, non faucibus enim metus lobortis diam. Sed lacinia pulvinar nunc, in ultricies tellus ullamcorper ut. In quis tellus sit amet justo varius viverra sed vitae massa. Praesent elementum consequat luctus. Sed dapibus tempus libero, ut mollis ex dapibus vitae. Nulla vel rutrum risus. Nunc sed dolor maximus, semper neque et, tempor est. Nam dictum nulla velit, in finibus purus laoreet non.
              </p>
              <p>
              Sed convallis metus quis nunc sagittis, et semper elit sodales. Praesent dictum diam nisi, et suscipit ante interdum vitae. Donec laoreet, lorem sed aliquet imperdiet, diam ex lobortis augue, nec fermentum odio tellus eu leo. Integer aliquam, nisl vel imperdiet congue, nulla turpis rhoncus eros, vitae iaculis lacus arcu vel sapien. Praesent eget ligula vitae mauris tincidunt tristique sed nec mauris. Donec dictum mi a massa eleifend lacinia. Vivamus congue dui eu elementum viverra. Fusce vehicula eget urna a rhoncus. Nunc non erat et eros dictum dignissim. Cras ac enim eu nisi gravida placerat ut sit amet lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ut ex a felis viverra facilisis.
              </p>
              <p>
              Sed erat diam, convallis vel tortor nec, cursus convallis dolor. Curabitur semper leo quis velit molestie, eget condimentum enim posuere. Nullam lobortis euismod felis, vitae eleifend sapien aliquam at. Praesent quam leo, posuere eu condimentum non, tincidunt in ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dolor placerat, cursus purus eget, venenatis massa. Fusce non elit a est semper viverra ut non sapien.
              </p>


          </div>

      </div>
    </div>
    <div>
      <h1>For Students
    </div>
    <div class="row faq" id="done">
        <div class="col-md-3">
          <h4>--- What do I do after I am done with all CSDT modules?</h4>
        </div>
        <div class="col-md-9">
          <div class="faq-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet maximus elit. Fusce imperdiet eget massa vitae ornare. Aliquam rutrum iaculis justo, venenatis feugiat justo blandit a. Nam fermentum massa ac lorem aliquet pulvinar vestibulum ut odio. Sed interdum aliquet hendrerit. Sed nec nulla nisl. Sed sit amet consequat arcu. Pellentesque dapibus libero sed enim tincidunt egestas. Sed id cursus mauris. Praesent aliquet rutrum velit in interdum. Etiam tincidunt facilisis purus, ac pharetra libero sollicitudin vel. Etiam et nisi eget dui condimentum venenatis in non justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec lectus tortor, convallis id porttitor at, egestas quis ipsum.
              </p>
              <p>
              Nulla nec convallis lorem, eget sagittis nibh. Quisque sagittis nisi et mi tristique eleifend ac et ante. Vivamus pharetra lorem molestie nibh vehicula, a pulvinar dolor faucibus. Nam facilisis, nisi vitae mollis placerat, arcu est condimentum massa, eget ornare nisi urna ac neque. Nunc turpis orci, tempus et porta imperdiet, imperdiet vel augue. Vivamus sagittis blandit mi ac rhoncus. Suspendisse vulputate eu nisl pretium euismod. Proin sapien felis, accumsan ut velit eu, blandit euismod est. Nunc blandit turpis ac lobortis ultricies. Aenean pharetra erat id porttitor vulputate. Nullam condimentum, sem ac viverra porttitor, est nisi euismod velit, laoreet convallis nunc neque et mauris. Sed mattis, ante sed faucibus pulvinar, dolor ex sagittis metus, nec interdum leo nulla vel diam. In hac habitasse platea dictumst. Donec maximus feugiat vestibulum. Morbi vitae quam condimentum, porta massa eget, rhoncus ipsum.
              </p>
              <p>
              Aenean in sapien dignissim est pretium aliquet. Duis pharetra auctor dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed id tincidunt eros, id feugiat sapien. Nulla finibus, purus id iaculis rutrum, lectus libero pulvinar nibh, non faucibus enim metus lobortis diam. Sed lacinia pulvinar nunc, in ultricies tellus ullamcorper ut. In quis tellus sit amet justo varius viverra sed vitae massa. Praesent elementum consequat luctus. Sed dapibus tempus libero, ut mollis ex dapibus vitae. Nulla vel rutrum risus. Nunc sed dolor maximus, semper neque et, tempor est. Nam dictum nulla velit, in finibus purus laoreet non.
              </p>
              <p>
              Sed convallis metus quis nunc sagittis, et semper elit sodales. Praesent dictum diam nisi, et suscipit ante interdum vitae. Donec laoreet, lorem sed aliquet imperdiet, diam ex lobortis augue, nec fermentum odio tellus eu leo. Integer aliquam, nisl vel imperdiet congue, nulla turpis rhoncus eros, vitae iaculis lacus arcu vel sapien. Praesent eget ligula vitae mauris tincidunt tristique sed nec mauris. Donec dictum mi a massa eleifend lacinia. Vivamus congue dui eu elementum viverra. Fusce vehicula eget urna a rhoncus. Nunc non erat et eros dictum dignissim. Cras ac enim eu nisi gravida placerat ut sit amet lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ut ex a felis viverra facilisis.
              </p>
              <p>
              Sed erat diam, convallis vel tortor nec, cursus convallis dolor. Curabitur semper leo quis velit molestie, eget condimentum enim posuere. Nullam lobortis euismod felis, vitae eleifend sapien aliquam at. Praesent quam leo, posuere eu condimentum non, tincidunt in ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dolor placerat, cursus purus eget, venenatis massa. Fusce non elit a est semper viverra ut non sapien.
              </p>


          </div>

      </div>
  </div>
</div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/guides.css' %}" >
{% endblock %}

{% block js %}
<script>(function(document, history, location) {
  var HISTORY_SUPPORT = !!(history && history.pushState);

  var anchorScrolls = {
    ANCHOR_REGEX: /^#[^ ]+$/,
    OFFSET_HEIGHT_PX: 70,

    /**
     * Establish events, and fix initial scroll position if a hash is provided.
     */
    init: function() {
      this.scrollToCurrent();
      window.addEventListener('hashchange', this.scrollToCurrent.bind(this));
      document.body.addEventListener('click', this.delegateAnchors.bind(this));
    },

    /**
     * Return the offset amount to deduct from the normal scroll position.
     * Modify as appropriate to allow for dynamic calculations
     */
    getFixedOffset: function() {
      return this.OFFSET_HEIGHT_PX;
    },

    /**
     * If the provided href is an anchor which resolves to an element on the
     * page, scroll to it.
     * @param  {String} href
     * @return {Boolean} - Was the href an anchor.
     */
    scrollIfAnchor: function(href, pushToHistory) {
      var match, rect, anchorOffset;

      if(!this.ANCHOR_REGEX.test(href)) {
        return false;
      }

      match = document.getElementById(href.slice(1));

      if(match) {
        rect = match.getBoundingClientRect();
        anchorOffset = window.pageYOffset + rect.top - this.getFixedOffset();
        window.scrollTo(window.pageXOffset, anchorOffset);

        // Add the state to history as-per normal anchor links
        if(HISTORY_SUPPORT && pushToHistory) {
          history.pushState({}, document.title, location.pathname + href);
        }
      }

      return !!match;
    },

    /**
     * Attempt to scroll to the current location's hash.
     */
    scrollToCurrent: function() {
      this.scrollIfAnchor(window.location.hash);
    },

    /**
     * If the click event's target was an anchor, fix the scroll position.
     */
    delegateAnchors: function(e) {
      var elem = e.target;

      if(
        elem.nodeName === 'A' &&
        this.scrollIfAnchor(elem.getAttribute('href'), true)
      ) {
        e.preventDefault();
      }
    }
  };

  window.addEventListener(
    'DOMContentLoaded', anchorScrolls.init.bind(anchorScrolls)
  );
})(window.document, window.history, window.location);
</script>
{% endblock %}
