{% extends "account/base.html" %}
{% load recaptcha2 %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>
    <div class="two-column-8-4">

        <div class="column-left">
            <form class="login-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% for field in form.visible_fields %}
                    <div class="text-input">
                        {{ field }}
                        {% if field.errors %}
                          {% for error in field.errors %}
                            {% if error == '%(model_name)s with this %(field_label)s already exists.' %}
                              User with that username already exists.<br>
                            {% else %}
                              {{ error }}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                {% recaptcha_init 'en' %}
                {% recaptcha_invisible_button submit_label='Submit' %}            </form>
        </div>
        <div class="column-right">
            <h3>Or using a social network...</h3>
            <p>Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a CSDT Community account and sign in below:</p>
            <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
            </div>
            {% if form.errors %}
                <p>{{ form.non_field_errors.as_text }}</p>
            {% endif %}
        </div>
    </div>


{% endblock %}
