{% extends 'base_sans_theme.html' %}
{% load thumbnail %}

{% block title %}
    Oral History | {{block.super}}
{% endblock %}


{% block content %}
<style>
    .content {
        /* display: inline-block; */
        z-index: 0;
        background-color:grey;
        border-radius: 5px;
        border: 1px solid darkorchid;
        margin: 5px;
        padding: 5px;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-direction: column;
        background-size: contain;
        background-repeat: no-repeat;
        filter: sepia(100%);
        
    },
}
    
</style>

<div class="row">
    <div class="col-md-12">
        <p><a href="{% url 'oral_history:upload_ohp' %}">++ Start a new Oral History Project</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="font-size:2rem;">Choose an oral history project to explore:</p>
    </div>
</div>
<div class="row ">
    {% for ohp in object_list %}
    <a href="{% url 'oral_history:oral_history' slug=ohp.slug %}">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="content" style="background-image: url('{% thumbnail ohp.pic  300x300  crop %}');">
                <div class="project-name" style="text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;color: seagreen;font-size:3rem;line-height:3rem;">{{ ohp.project_name }}</div>
                <div class="byline" style="text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;color: seagreen;font-size: 1.5rem;">{{ ohp.byline }}</div>

            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div style="height:60px;"></div>
<div class="row">
    <div class="col-md-12">
        <p style="font-size:2rem;">User-made oral history projects:</p>
    </div>
</div>
<div class="row">
    {% for ohp in view.get_classrooms %}
    <a href="{% url 'oral_history:oral_history' slug=ohp.slug %}">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="content" style="background-image: url('{% thumbnail ohp.pic  300x300  crop %}');">
                <div style="text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;color: seagreen;">User: {{ ohp.user.username }}</div>
                <div class="project-name" style="text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;color: seagreen;font-size:2rem;line-height:3rem;">{{ ohp.project_name }}</div>
                <div class="byline" style="text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;color: seagreen;font-size: 1.5rem;">{{ ohp.byline|truncatewords:40 }}</div>

            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}