bbcode==1.0.24
BeautifulSoup==3.2.1
coverage==4.3.4
Django==1.10.6
django-allauth==0.31.0
django-analytical==2.2.2
django-annoying==0.10.3
django-appconf==1.0.2
django-attachments==1.0.1
django-bootstrap-static-files==3.0.0
django-bootstrap3==8.2.1
django-classy-tags==0.8.0
django-cms==3.4.2
django-comments-xtd==1.6.6
django-compressor==2.1.1
django-contrib-comments==1.8.0
django-debug-toolbar==1.7
django-extensions==1.7.7
django-extra-views==0.8.0
django-jquery==3.1.0
django-markup==1.1
django-mptt==0.8.7
django-pipeline==1.6.11
django-registration==2.2
django-sekizai==0.10.0
Django-Select2==5.8.10
django-simple-captcha==0.5.3
django-taggit==0.22.0
django-taggit-templatetags==0.4.6.dev0
django-taggit-templatetags2==1.6.1
django-templatetag-sugar==1.0
django-twitter-bootstrap==3.3.0
djangocms-admin-style==1.2.6.2
djangocms-file==2.0.2
djangocms-link==2.1.1
djangocms-picture==2.0.4
djangocms-text-ckeditor==3.4.0
djangocms-video==2.0.3
djangorestframework==3.5.4
djangorestframework-csv==2.0.0
djangorestframework-gis==0.11
geopy==1.11.0
GitPython==2.1.1
Markdown==2.6.8
numpy==1.12.0
oauthlib==2.0.1
Pillow==4.0.0
psycopg2==2.7
pybbm==0.18.4
pytz==2016.10
PyYAML==3.12
requests-oauthlib==0.8.0
six==1.10.0
geopy==1.11.0
git+https://github.com/GK-12/SGIS-backend.git
git+https://github.com/bartTC/django-attachments.git
git+https://github.com/CSnap/django-likes.git
git+https://github.com/chuck211991/django_teams.git
git+https://github.com/CSnap/django-templatetag-sugar.git
git+https://github.com/divio/django-filer.git