BeautifulSoup==3.2.1
Django==1.7.1
Pillow==2.6.1
South==1.0.1
coverage==3.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-allauth==0.18.0
django-attachments==0.3.1dev
django-bootstrap==2.3.1
django-bootstrap3==5.0.3
django-comments-xtd==1.3a1
django-extensions==1.4.9
django-extra-views==0.6.5
django-jquery==1.9.1
django-likes==0.0.11
django-markup==0.4
django-pipeline==1.4.2
django-secretballot==0.2.3
django-simple-captcha==0.4.3
django-taggit==0.12.2
django-taggit-templatetags==0.4.6dev
django-teams==1.0.0
django-templatetag-sugar==1.0
django-toolbelt==0.0.1
django-twitter-bootstrap==3.3.0
djangorestframework==3.0.1
futures==2.2.0
gunicorn==19.1.1
oauthlib==0.7.2
psycopg2==2.5.4
python-memcached==1.53
python-openid==2.2.5
pytz==2014.10
requests==2.5.0
requests-oauthlib==0.4.2
six==1.8.0
sorl-thumbnail==12.1c
static3==0.5.1
wsgiref==0.1.2
