{% extends 'base.html' %}
{% load comments comments_xtd %}
{% load attachments_tags %}
{% load likes_inclusion_tags %}
{% load thumbnail %}

{% block content %}
    {% if 'HTTP_HOST' in request.META %}
    {% with 'http://'|add:request.META.HTTP_HOST as proto %}{% with proto|add:object.application.codebase_url as codebase_url %}
    <!--<applet width="950" height="600" archive="applet-launcher.jar" codebase="{{ codebase_url }}" code="org.jdesktop.applet.util.JNLPAppletLauncher">
        <param value="true" name="codebase_lookup">
        <param value="{{ object.application.class_name }}" name="subapplet.classname">
        <param value="{{ object.application.name }}" name="subapplet.displayname">
        <param value="true" name="noddraw.check">
        <param value="true" name="progressbar">
        <param value="{{ proto }}{{ object.application.url }}" name="jnlp_href">
        <param name="SingleDemoXmlUrl" value="{{ proto }}{{ object.project.url }}">
        <param name="DemoUrls" value="Default, {{ proto }}{{ object.project.url }}">

    </applet> -->
    {% endwith %}{% endwith %}
    {% endif %}

    {% get_attachments_for object as "attachments_list" %}

    {% if attachments_list.count > 0 %}

    <h3>Attachments</h3>
    <ul>
    {% for att in attachments_list %}
        <li>
            <strong><a href="{{ att.attachment_file.url }}">{{ att.filename }}</a></strong> - <small>{% attachment_delete_link att %}</small>
        </li>
    {% endfor %}
    </ul>

    {% endif %}

    {% likes object %}

    {% render_comment_list for object %}
    {% with next=request.path %}
    {% render_comment_form for object %}
    {% endwith %}

{% endblock %}
