{% extends 'base.html' %}

{% block content %}
    {% for object in object_list %}
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="span4">
                <div class="row">
                    <img class="img-polaroid" src="{{ MEDIA_URL }}{{ object.screenshot }}">
                </div><!-- /.row -->
            </div><!-- /.span4 -->
            <div class="span8" style="height: 100%">
                <div class="row">
                    <div class=span8">
                        <h3><a href="{% url 'project-detail' pk=object.id %}">{{ object }}</a></h3>
                    </div><!-- /.span8 -->
                    <div class="span4">
                        <h4>by {{ object.owner }}</h4>
                    </div><!-- /.span4 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="span8">
                        {{ object.description }}
                    </div><!-- /.span8 -->
                </div><!-- /.row -->
                <div><h4><a href="{{ object.project.url }}">Download this project</a></h4></div>
                <!-- This is probably slow, serverside. Investigate -->
                {% with count=object.votes.count %}
                <div>{{ count }} like{{ count|pluralize }}</div>
                {% endwith %}
            </div><!-- /.span8 -->
        </div><!-- /.row -->
    {% endfor %}
{% endblock %}
