{% extends 'base.html' %}
{% load comments comments_xtd %}

{% block content %}
    <h1>{{ object }}</h1>
    <h3>By <a href="#">{{ object.owner }}</a></h3>
    <div class="row">
        <div class="span4">
            <img class="img-polaroid" src="{{ object.screenshot.url }}" style="width: 100%" />
        </div>
        <div class="span6 offset1">
            <p class="lead">{{ object.description }}</p>
        </div>
    </div><!-- /.row -->

    <h4><a href="{{ object.project.url }}">Download this project</a></h4>

    {% render_comment_list for object %}
    {% with next=request.path %}
    {% render_comment_form for object %}
    {% endwith %}
    <!-- <object type="application/x-java-applet" width=950 height=600>
      <param name="code" value="org.jdesktop.applet.util.JNLPAppletLauncher">
      <param name="archive" value="applet-launcher.jar">
      <param name="codebase_lookup" value="true">
      <param name="subapplet.classname" VALUE="SB.SBGui">
      <param name="subapplet.displayname" VALUE="SB Applet">
      <param name="noddraw.check" value="true">
      <param name="progressbar" value="true">

      <param name="jnlp_href" value="http://community.csdt.rpi.edu/uploads/projects/SB/jnlp/12.moorthy.jnlp">
        {% for param in object.applicationparam_set %}
            <param name="{{ param.name }}" value="{{ param.value }}" />
        {% endfor %}
        Applet failed to run.  No Java plug-in was found.
    </object> -->
{% endblock %}
