{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="font-size: 1.3em;">
      <h1>About</h1>
      <p>
          <strong>Mission:</strong><br>
          The mission of the Culturally Situated Design Tools (CSDT) team is to improve education, justice, and equality through new STEM+C educational methods.
      </p>
      <p>
          <strong>Concept:</strong><br>
          By eliminating misconceptions about race and gender in STEM+C, engaging students, and working with teachers, CSDTs can simultaneously teach science, empower students, and change perspectives.
      </p>
      <p>
          <strong>History:</strong><br>
          CSDTs grew out of the field of Ethomathematics back in 2000. It developed into a series of Java applets that could be used by teachers in various schools to engage students on math topics.
          As Java applets were phased out of use, it was switched to build on <i>Snap!</i> by adding new core components to incorporate culture (CSnap), and expanded to include computer science and general science topics.
      </p>
      <p>
          <strong>Team:</strong><br>
          CSDTs are the brain child of <a href="http://www.sts.rpi.edu/pl/faculty/ron-eglash">Dr. Ron Eglash</a>, professor of Science and Technology Studies at <a href="http://rpi.edu/">Rensselaer Polytechnic Institute</a>, and his Co-PIs:
          <a href="http://www.cm.rpi.edu/pl/people-590/?objectID=516">Professor Audrey Bennet</a>, <a href="http://www.cs.rpi.edu/~moorthy/">Professor Mukkai Krishnamoorthy</a>, <a href="https://www.ecse.rpi.edu/index.php/shayla-sawyer">Professor Shayla Sawyer</a>, and <a href="http://www.cs.rpi.edu/~sibel/SibelAdali/Sibel_Adali.html">Professor Sibel Adali</a>.
          Along with them have been a team of staff, graduate, and undergraduate students. All this has been supported by NSF grants and RPI.
        </p>
        <p>
          <strong>Contact:</strong><br>
          You can contact us at <a href="mailto:csdt@lists.rpi.edu">csdt@lists.rpi.edu</a>.
        </p>
    </div>
  </div>
</div>
{% endblock %}
