{% extends "base.html" %}

{% block title %}
About Culturally Situated Design Tools
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="font-size: 1.3em;">
      <h1>About</h1>
      <p>
        <strong>Publications:</strong>
        <br>
        <a href="{% url 'publications' %}">Here are some of the CSDT team's selected academic publications</a>.

      </p>
      <p>
        <strong>Video Tutorials:</strong>
        <br>
        <a href="https://vimeo.com/245028587">Classroom Creation</a><br>
        <a href="https://vimeo.com/245421557">Classroom Administration</a><br>
        <a href="https://vimeo.com/245421728">How Students Will Use Classrooms</a>
      </p>
      <p>
          <strong>Mission:</strong>
          <br>
          The mission of the Culturally Situated Design Tools (CSDT) team is to improve education through "generative justice", in which STEM innovation can empower unalienated labor, ecological sustainability, and expressive value of grass roots communities.
      </p>
      <p>
          <strong>Concept:</strong>
          <br>
          The myths of "primitive" societies and working class culture trap us into stereotypes about race, class, and gender. We use "heritage algorithms" -- iterative scaling in cornrow braiding; Least Common Multiple in latinx percussion; Native traditions of ecosystem engineering and so on--to engage students, teachers, and community members in ways that can raise academic achievement and facilitate STEM-empowered pathways towards a more just and sustainable future.
      </p>
      <p>
          <strong>History:</strong>
          <br>
          CSDTs grew out of the field of Ethnomathematics back in 2000. We first developed a series of Java applets for cultural simulations. As Java applets were phased out of use, it was switched to build on <i>Snap!</i> by adding new core components to incorporate culture (CSnap), and expanded to include computer science, biology and other topics.
      </p>
      <p>
          <strong>Team:</strong>
          <br>
          CSDTs are the brain child of <a href="https://stamps.umich.edu/people/detail/ron_eglash">Dr. Ron Eglash</a>, Professor of Information, School of Information and Professor of Art and Design, Penny W Stamps School of Art and Design at <a href="http://umich.edu">University of Michigan</a>, and his Co-PIs:
          <a href="https://stamps.umich.edu/people/detail/audrey_bennett">Professor Audrey Bennet</a>, <a href="http://www.cs.rpi.edu/~moorthy/">Professor Mukkai Krishnamoorthy</a>, <a href="https://www.ecse.rpi.edu/index.php/shayla-sawyer">Professor Shayla Sawyer</a>, and <a href="http://www.cs.rpi.edu/~sibel/SibelAdali/Sibel_Adali.html">Professor Sibel Adali</a>.
          Along with them have been a team of staff, graduate, and undergraduate students. All this has been supported by NSF grants, RPI, and University of Michigan.
        </p>
        <p>
          <strong>Contact:</strong>
          <br>
          You can contact us at <a href="mailto:csdt@lists.rpi.edu">csdt@lists.rpi.edu</a>.
        </p>
        <p>
          <strong>Disclaimer:</strong>
          <br>
          This work was supported by the National Science Foundation through NSF grant #1640014. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
        </p>
    </div>
  </div>
</div>
{% endblock %}
