{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="font-size: 1.3em;">
      <div class="below-text">


        <h1> Publications</h1>

        <p>&nbsp;</p>

        <p><a href="https://www.researchgate.net/publication/314263728_From_Sports_to_Science_Using_Basketball_Analytics_to_Broaden_the_Appeal_of_Math_and_Science_Among_Youth">Drazan, Loyla, Horne, Eglash. "From Sports to Science: Using Basketball Analytics to Broaden the Appeal of Math and Science Among Youth." Conference: MIT-Sloan Sports Analytics Conference, March 2017.</a></p>

          <br>

        <p><a href="https://csdt.rpi.edu/news/MIT-Sloan-Win/">Sports Science Paper Wins $10,000 First Prize. March 2017. </a></p>

          <br>
        <p> <a href="https://www.researchgate.net/publication/311768714_Culturally_situated_design_tools_Generative_justice_as_a_foundation_for_stem_diversity">Eglash, R., Bennett, A., Bennett, K., Callahan, B., Davis, J., et al. “Culturally Situated Design Tools: Generative Justice as a Foundation for STEM Diversity.” In Yolanda Rankin, Y. and Thomas, J. Moving Students of Color from Consumers to Producers of Technology. Hershey, Pennsylvania: IGC Global, December 2016.</a></p>

        <br>

        <p><a href="https://www.researchgate.net/publication/305817794_Culturally_responsive_computing_as_brokerage_toward_asset_building_with_education-based_social_movements">Lachney, M. "Culturally Responsive Computing as Brokerage: Toward Asset Building With Education-Based Social Movements." Learning Media and Technology, August 2016</a></p>

        <br>

        <p><a href="https://www.researchgate.net/publication/303001934_MODELING_IN_ETHNOCOMPUTING_REPLACING_BI-DIRECTIONAL_FLOWS_WITH_RECURSIVE_EMERGENCE">Lachney, M., Appiah, J., Bennett, A., Eglash, R. "Modeling in Ethnocomputing: Replacing Bi-Directional Flows With Recursive Emergence." May 2016.</a></p>

        <br>

        <p><a href="http://computationalculture.net/article/software-design-in-the-construction-genre-of-learning-technology-content-aware-versus-content-agnostic">Lachney, Babbitt, and Eglash: "Software Design in the Construction Genre of Learning Technology: Alternatives to the Content Agnostic Approach." January 2016.</a></p>

        <br>

        <p><a href="http://hipatiapress.com/hpjournals/index.php/remie/article/view/1399">Babbitt, Lachney, Bulley, and Eglash: "Adinkra Mathematics: A Study of Ethnocomputing in Ghana." August 2015.</a></p>

        <br>

        <p><a href="{{STATIC_URL}}publications/ch5AdinkraSymbols.pdf">Poirier, L., Eglash, R, and Babbitt, B. "Adinkra Symbols." Math Is a Verb: Activities and Lessons from Cultures Around the World, by Jim Barta, Ron Eglash, Cathy Barkley. National Council of Teachers of Mathematics, December 2014.</a></p>

        <br>

        <p><a href="{{STATIC_URL}}publications/cSelf.pdf">Bennett, A. and Eglash, R. "C-SELF (Computer Science Education from Life): Broadening Participation through Design Agency." International Journal of Web-Based Learning and Teaching Technologies, 8(4), 34-49, October-December 2013.</a></p>

        <br>

        <p><a href="https://www.researchgate.net/publication/258198650_Culturally_Responsive_Computing_in_Urban_After-School_Contexts_Two_Approaches">Eglash, R, Gilbert, J, Taylor, V, and Geier S. "Culturally Responsive Computing in Urban After-School Contexts: Two Approaches." September 2013.</a></p>

        <br>

        <p><a href="{{STATIC_URL}}publications/ethnocomputing.pdf">Bill Babbitt, Dan Lyles, and Ron Eglash. “From Ethnomathematics to Ethnocomputing: Indigenous Algorithms in Traditional Context and Contemporary Simulation.” Alternative Forms of Knowing in Mathematics: Celebrations of Diversity of Mathematical Practices, eds. Swapna Mukhopadhyay and Wolff- Michael Roth, Rotterdam: Sense Publishers 2012, pp. 205-220.</a></p>

        <br>

        <p><a href="{{STATIC_URL}}publications/a17-eglash.pdf">Eglash, R., Krishnamoorthy, M., Sanchez, J., and Woodbridge, A. "Fractal simulations of African Design in Pre-College Computing Education." ACM Transactions on Computing Education, v11 n3 Article 17 Oct 2011.</a></p>

        <br>

        <p><a href="{{STATIC_URL}}publications/hiddencapital.pdf">Eglash, R and Bennett, A. "Teaching with Hidden Capital: Agency in Children’s Computational Explorations of Cornrow Hairstyles." Children, Youth and Environments, 19 (1) 2009, pp. 58-74.</a></p>

        <br>

        <p>Eglash, R. "Ethnocomputing with Native American Design." In L. E. Dyson, S. Grant, & M. Hendriks (Eds.), Information Technology and Indigenous People, IGI-Global 2007, pp. 210–219.</p>

        <br>

        <p><a href="{{STATIC_URL}}publications/fieldsitetoclassroom.pdf">Eglash, R., Bennett, A., O'Donnell, C., Jennings, S., and Cintorino, M. "Culturally Situated Design Tools: Ethnocomputing from Field Site to Classroom." American Anthropologist, Vol. 108, No. 2. (2006), pp. 347–362.</a></p>

        <br>
    </div>
  </div>
</div>

{% endblock %}
