{% extends "base.html" %}

{% block title %}
About Culturally Situated Design Tools
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="font-size: 1.3em;">
      <h1>Getting started with CSDTs</h1>
      <p>
          <br>
          After following the steps below you can pick a cultual practice to work with. But first, we need to make sure your computer will run the software:
          <br>
          <br>
          <strong>Use Chrome:</strong> other browsers will work, but chrome is optimal. Don't forget to update Chrome too!
          <br>
          <strong>Register and login:</strong> you cannot save to the cloud without it, <a href="https://csdt.rpi.edu/accounts/login/">Login.</a>
          <br>
          <strong>Save your work:</strong> you can save to your hard drive AND to the cloud, just to make sure.
          <br>
          <br>
          <u>Saving to the hard drive</u>: select “export project” from the file menu:
          <p><img src="/static/img/new_tut1.png" height="125"></p>
          <br>
          <u>Saving to the cloud</u>: select “Save As” from the file menu:
          <p><img src="/static/img/new_tut2.png" height="125"></p>
          <br>
          Give it a name (I called it “cool braids”) and select a classroom (in this case ArtDes310) if you have one:
          <p><img src="/static/img/new_tut3.png" height="252"></p>
          <br>
          If you were successful this you will see it in your profile,
          which you can get to by clicking on “my profile” at the upper right:
          <p><img src="/static/img/new_tut4.png" height="40" width="400"></p>
          <br>
          The next step is choosing a cultural practice--cornrows, beadwork, or whatever you like. If you are a teacher you might
          want to pick one practice, and split up the class so that each group of students looks at a different section of the
          background material. Then everyone can report back on what they learned or found interesting, before moving on to the 
          software tutorial.
          <br>
          <br>
          <a href="https://csdt.rpi.edu/">Back to Homepage</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
