{% extends 'base.html' %}

{% block extra_script %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/i18n/jquery-ui-i18n.min.js"></script>
    <script src="http://yandex.st/json2/2011-01-18/json2.min.js"></script>
    <script src="{{ STATIC_URL }}csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}pybb/js/pybbjs.js"></script>
{% endblock %}
