{% extends 'base.html' %}

{% block content %}
    {% if form.is_multipart %}
        <form class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
    {% else %}
        <form class="form-horizontal" method="post" action="{{ action }}">
    {% endif %}
        {% csrf_token %}
        {% for field in form %}
            <div class="control-group">
                <b style="color: red">{{ field.errors }}</b>
                <label for="id_{{ field.html_name }}" class="control-label">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                </div>
                {% if field.help_text %}
                        <span class="help-inline">{{ field.help_text }}</span>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Change password</button>
        <button type="button" class="btn" onclick="javascript:history.go(-1)">Cancel</button>
    </form>

{% endblock %}
