<h2>Theme</h2>
<ul class="nav nav-pills">
    <li ng-repeat="theme in themes" class="{{ activeTheme.id == theme.id ? 'active' : '' }}"><a href="" ng-click="setTheme(theme.id)">{{ theme.name }}</a></li>
</ul>

<div ng-repeat="category in categories" class="create">
    <div ng-if="category.theme == activeTheme.id" class="category">
        <h3>{{ category.name }}</h3>
        <div ng-repeat="app in category.applications" class="application">
            <div class="application-thumbnail" style="min-height: 190px;height:auto;">
                <a href="{{ getApplication(app).url }}" ng-if="getApplication(app).screenshot != null"><img src="{{getApplication(app).screenshot}}" width="100%" height="auto"></a>
                <div class="application-caption">
                    <h4><a href="{{ getApplication(app).url }}">{{ getApplication(app).name }}</a></h4>
                    <!-- <div class="description">{{ getApplication(app).description }}</div> -->
                </div>
            </div>
        </div>
    </div>
</div>
