<div class="modal" tabindex="-1" role="dialog" ng-controller="addTagCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add Tag</h4>
      </div>
      <div class="modal-body">
      	<div class="container-fluid">
  			<form name="addTagForm" novalidate>
	  			<div class="row">
	   				<div class="col-xs-3 col-md-3">
	   					<label for="title">Name:</label><br>
	   				</div>
	  				<div class="col-xs-8 col-md-8">
	  					<label ng-bind="tagObject.nameTag"></label>
	  				</div>
	  				<div class="col-xs-1 col-md-1">
	  				</div>
	  			</div>	<br>
	  			<div class="row">
	   				<div class="col-xs-3 col-md-3">
	   					<label for="desc">Address:</label><br>
	   				</div>
	  				<div class="col-xs-8 col-md-8">
	  					<label ng-bind="tagObject.street"></label>
	  					<label ng-bind="tagObject.city"></label>
	  					<label ng-bind="tagObject.state"></label>
	  					<label ng-bind="tagObject.zipcode"></label>
	  				</div>
	  				<div class="col-xs-1 col-md-1">
	  				</div>
	  			</div>	<br>
	  			<div class="row">
	   				<div class="col-xs-3 col-md-3">
	   					<label for="desc">County:</label><br>
	   				</div>
	  				<div class="col-xs-4 col-md-4">
	  					<label ng-bind="tagObject.county"></label>
	  				</div>
	  				<div class="col-xs-5 col-md-5">
	  				</div>
	  			</div>	<br>
	  			<div class="row">
	   				<div class="col-xs-3 col-md-3">
	   					 <label for="Tags">Tags:</label>
	   				</div>
	  				<div class="col-xs-7 col-md-7">
	  					<tags-input ng-model="tagObject.multiTags" display-property="tag" add-from-autocomplete-only="false">
							<auto-complete source="loadTags($query)" min-length="1"></auto-complete>
	  					</tags-input>
	  				</div>
				</div>
				<!--This tag can be used for adding the second google map in the popUp Window-->
		   				<!-- <div >
		   					<google-map class="tagMap" bounds="mapTag.bounds" center="mapTag.center" zoom="mapTag.zoom" draggable='true' options="mapTag.options" events="mapTag.events" refresh="'refresh'" control="mapTag.control">
								 <marker idKey="2" coords="tagObject" options="editTagEvents.options" events="mapTag.marker.events">
								</marker> 
								</google-map>
		   				</div> -->
	  					<br>
	  			<div class="row">
	   				<div class="col-xs-2 col-md-2">
	   					<button class="btn btn-success" ng-click="saveTag(tagObject);$hide()">Save Tag</button>
	   				</div>
	   				<div class="col-xs-1 col-md-1">
	  				</div>
	   				<div class="col-xs-2 col-md-2">
	   					<label class="btn btn-default">
	   					<a ng-href="http://www2.census.gov/acs/2005_Gulf_Coast_Area_Data_Profiles/{{csvfile}}" download="expenses.xls">Download  <span class="glyphicon glyphicon-download-alt">  </span></a>
	   					</label>
	   				</div>
	   				<div class="col-xs-1 col-md-1">
	  				</div>
	  				
	   				<div class="col-xs-2 col-md-2">
						<label class="btn btn-default">
	   					<a ng-href="http://www2.census.gov/acs/2005_Gulf_Coast_Area_Data_Profiles/{{csvfile}}" download="expenses.xls">Download All  <span class="glyphicon glyphicon-download-alt">  </span></a>
	   					</label>
	   					
	   				</div>
	   				<div class="col-xs-2 col-md-2">
	  				</div>
	  				<div class="col-xs-2 col-md-2">
	  				<button type="button" class="btn btn-warning" ng-click="$hide()">Close</button>
	  				</div>
	  			</div>
	   		</form>
	  	</div>
	  </div>
    </div>
  </div>
</div>
