{% extends 'base.html' %}
{% load static %}

{% block js %}
{{ super }}
  <script type="text/javascript" src="{% static "js/create_react/src/main.min.js" %}"></script>
{% endblock %}

{% block extra_style %}
{% endblock %}

{% block content %}
      <div id="app"></div>
{% endblock %}

{% block css %}
<style>


.themeBtn {
  margin: 5px;
  border: 1px solid darkgrey;
}

ul {


  padding-left: 0px;
}

.categories-ul li {
  font-size: 2rem;
  list-style: none;
}

.app-ul li {
  list-style: none;
  font-size: 3rem;
}

.bubble {
  border-radius: 5px;

  border: 1px solid lightgrey;
  margin: 10px;
  padding: 0px;
  background-color: white;
}


.img-div {
  object-fit: contain; /* Do not scale the image */
 object-position: center; /* Center the image within the element */
 height: 200px;
 width: 100%;
}



.category {
  margin-left: 15px;
}

.center-text {
  text-align: center;
  font-size: 1.75rem;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
        }
    }

</style>
{% endblock %}
