<html>

<head></head>

<body class="vsc-initialized" style="margin: 0;">
  <iframe id="scratch-iframe" src="/static/CScratch/build/index.html" style="height:100%; width:100%; border-width: 0;padding: 0;margin: 0;">
  </iframe>
  <script>
    var x = document.getElementById("scratch-iframe");
    var y = (x.contentWindow || x.contentDocument);
    if (y.document)y = y.document;
    {% for extension in object.extensions.all %}
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = '{{extension.path}}';
      y.body.appendChild(script);
    {% endfor %}
  </script>
</body>

</html>
