<div class="row">
    <div class="col-md-3">

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Sort by...
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="{{ request.path }}?{% if filter_val %}filter={{ filter_val }}&{% endif %}orderby=-id&{% if term %}q={{ term }}{% endif %}">Newest</a></li>
                <li><a href="{{ request.path }}?{% if filter_val %}filter={{ filter_val }}&{% endif %}orderby=id&{% if term %}q={{ term }}{% endif %}">Oldest</a></li>
                <li><a href="{{ request.path }}?{% if filter_val %}filter={{ filter_val }}&{% endif %}orderby=name&{% if term %}q={{ term }}{% endif %}">By name</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Filter by...
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a href="{{ request.path }}?{% if order %}orderby={{ order }}&{% endif %}{% if term %}q={{ term }}&{% endif %}">No filtering</a></li>
                {% for application in application_list %}
                   <li><a href="{{ request.path }}?filter={{ application.id }}{% if order %}&orderby={{ order }}{% endif %}{% if term %}&q={{ term }}{% endif %}">{{application.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-3">
      <form method='GET' action='{{ request.path }}' >
        <ul class="menu" style="list-style: none;padding-left:0px;width: 300px;">
          <li>
              <div class='input-group'>
                <input class='form-control' type='search' name='q' placeholder='Search projects' />
                <span class='input-group-btn'>
                  <button type="submit" class=" btn btn-primary">Search</button>
                </span>
              </div>
          </li>
      </form>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if term or filter_val or order %}
      <p style="padding-left: 20px;font-size: 1.5em;">
        {% if term or filter_val %}
          ({{ paginator.count }} result{% if not object_list|length == 1 %}s{% endif %})
        {% endif %}
        {% if term %}
          Search for "{{ term }}"
            {% if order or filter_val %}, {% endif %}
        {% endif %}
        {% if filter_val %}{% if not term %}F{% else %}f{% endif %}iltered by application {{ name }}

          {% if order %}, {% endif %}
        {% endif %}
        {% if order %}{% if not term and not filter_val %}O{% else %}o{% endif %}rdered by
        {% if order == "id" %}oldest{% endif %}{% if order == "-id" %}newest{% endif %}{% if order == "name" %}name{% endif %}{% endif %}:  <a href="{{ request.path }}">(clear search)</a><p>
    {% endif %}
  </div>
</div>
