{% extends 'base.html' %}
{% load attachments_tags %}
{% load likes_inclusion_tags %}
{% load thumbnail %}

{% block content %}
    <h2>{{ object.name }}<small> by {{ object.owner }}</small></h2>
    <div class="container row">
        <div class="span4">
            {% thumbnail project.screenshot.f "400x400" crop="center" as im %}
              <a href="{% url 'project-detail' pk=project.id %}"><img src="{{ im.url }}" alt="Screenshot of {{ project.name }}"></a>
            {% endthumbnail %}
        </div>
        <div class="span7 lead">
          {{ object.description }}
        </div>
    </div>
    <a href="{% url 'project-run-detail' pk=object.pk %}" class="btn btn-large btn-primary">Open</a>
    <a href="{% url 'project-present-detail' pk=object.pk %}" class="btn btn-large btn-info">Open for Presentation</a>
    {% get_attachments_for object as "attachments_list" %}

    {% if attachments_list.count > 0 %}

    <h3>Attachments</h3>
    <ul>
    {% for att in attachments_list %}
        <li>
            <strong><a href="{{ att.attachment_file.url }}">{{ att.filename }}</a></strong> - <small>{% attachment_delete_link att %}</small>
        </li>
    {% endfor %}
    </ul>

    {% endif %}

    {% likes object %}

{% endblock %}
