{% extends 'base.html' %}
{% load comments comments_xtd %}
{% load attachments_tags %}
{% load likes_inclusion_tags %}
{% load thumbnail %}

{% block content %}
    {% if project.application.application_type.name == "pCSDT" %}
        {% include "project_share/application_pcsdt.html" %}
    {% elif project.application.application_type.name == "cSNAP" %}
        {% with url=project.application.application_file.url application_id=project.application.id %}
            {% include "project_share/application_csnap.html" %}
        {% endwith %}
    {% endif %}

    {% get_attachments_for object as "attachments_list" %}

    {% if attachments_list.count > 0 %}

    <h3>Attachments</h3>
    <ul>
    {% for att in attachments_list %}
        <li>
            <strong><a href="{{ att.attachment_file.url }}">{{ att.filename }}</a></strong> - <small>{% attachment_delete_link att %}</small>
        </li>
    {% endfor %}
    </ul>

    {% endif %}

    {% likes object %}

    {% render_comment_list for object %}
    {% with next=request.path %}
    {% render_comment_form for object %}
    {% endwith %}

{% endblock %}
