{% extends 'base.html' %}
{% load attachments_tags %}
{% load thumbnail %}
{% load comments %}

{% block content %}
    <h2>{{ object.name }}<small> by {{ object.owner }}</small></h2>
    <div class="container row">
        <div class="span4">
              <a href="{% url 'project-detail' pk=project.id %}"><img src="{% thumbnail object.screenshot.file_path 400x400 crop %}" alt="Screenshot of {{ object.name }}"></a>
        </div>
        <div class="span7 lead">
          {{ object.description }}
        </div>
    </div>
    <a href="{% url 'project-run-detail' pk=object.pk %}" class="btn btn-large btn-primary">Open</a>
    <a href="{% url 'project-present-detail' pk=object.pk %}" class="btn btn-large btn-info">Open for Presentation</a>
	{% if object.owner.id == user.id %}
		{% if hasApproval %}
			<a href="{% url 'project-unpublish' pk=object.pk %}" class="btn btn-large btn-primary">Unpublish</a>
		{% else %}
			<a href="{% url 'project-delete' pk=object.pk %}" class="btn btn-large btn-primary">Delete</a>
		{% endif %}
	{% endif %}
    {% get_attachments_for object as "attachments_list" %}

    {% if attachments_list.count > 0 %}

    <h3>Attachments</h3>
    <ul>
    {% for att in attachments_list %}
        <li>
            <strong><a href="{{ att.attachment_file.url }}">{{ att.filename }}</a></strong> - <small>{% attachment_delete_link att %}</small>
        </li>
    {% endfor %}
    </ul>

    {% endif %}

    <!--

    <div id="comment" style="padding-top: 20px;">
    {% if user.is_authenticated %}
      {% if user.email %}
        {% get_comment_form for project as form %}
        <form action="{% comment_form_target %}" method="POST">
          {% csrf_token %}
          <div class="container row" >{{ form.comment }}</div>
          <div class="container row" style="display: none;">{{ form.honeypot }}</div>
          <div class="container row" >{{ form.content_type }}</div>
          <div class="container row" >{{ form.object_pk }}</div>
          <div class="container row" >{{ form.timestamp }}</div>
          <div class="container row" >{{ form.security_hash }}</div>
          <div class="container row" ><input type="hidden" name="next" value="{% url 'project-detail' pk=object.id %}" /></div>
          <div class="container row" ><input type="submit" value="Add comment" id="id_submit" /></div>
        </form>
      {% else %}
          <p>You must have an <a href="{% url 'extendeduser-update' pk=object.id %}" style="">email address</a> to leave a comment.</p>
      {% endif %}
    {% else %}
        <p>Please <a  href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
    {% endif %}
  </div>
    {% render_comment_list for object %}

{% endblock %}
