{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

{% include 'project_share/project_filter.html' %}

<div class="row">
  {% if term or filter_val or order %}
    <p style="padding-left: 20px;font-size: 1.5em;">Search for {% if term %}"{{ term }}"{% if order or filter_val %}, {% endif %}{% endif %}{% if order %}ordered by {% if order == "id" %}oldest{% endif %}{% if order == "-id" %}newest{% endif %}{% if order == "name" %}name{% endif %}{% if filter_val %}, {% endif %}{% endif %}{% if filter_val %}filtered by application {{ view.return_appl }}{% endif %}:  <a href="{% url 'project-list' %}">(clear search)</a><p>
  {% endif %}
    {% for object in object_list %}
       {% include "_project_thumbnail.html" %}
    {% endfor %}
</div>
<div class="footer">
  {% include '_paginate.html' %}
</div>
{% endblock %}
