{% extends "blank.html" %}

{% block content %}
<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fractal Simulator</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://csdt.rpi.edu/static/fracexpl/src/FileSaver.min.js"></script>
  <script src="https://csdt.rpi.edu/static/fracexpl/src/saveToCloud.js"></script>
  <script src="https://csdt.rpi.edu/static/fracexpl/src/fracexpl.js"></script>
  <style>
     .ui-widget-header,.ui-state-default, ui-button {
        background:#b9cd6d;
        border: 1px solid #b9cd6d;
        color: #FFFFFF;
        font-weight: bold;
     }
    #feedback { font-size: 1.4em; }
    #projectList .ui-selecting { background: #FECA40; }
    #projectList .ui-selected { background: #F39814; color: white; }
  </style>
  <script>
     $(function() {
        $( "#projectListDialog" ).dialog({
           autoOpen: false,
        });
      });
     $(function() {
        $( "#loginDialog" ).dialog({
           autoOpen: false,
        });
      });
  </script>
</head>

<body>
  <div class="container">


    <div id="projectListDialog" title="Select A Project">
      <ol id="projectList" style="list-style-type: none;">
      </ol>
    </div>
    <div id="loginDialog" title="Login">
      User Name:
      <input type="text" name="username"/>
      <br/>
      Password:
      <input type="password" name="password"/>
    </div>
    <div style="margin-top: 20px; margin-bottom: 40px;">
      <span style="font-size: 200%;">Fractal Simulator</span><br/>
    </div>
    <div class="fractaltool" data-width="800" data-height="600" data-mode="draw"
     data-seedlist="3crosses,baila,blanket,bullhorn,cantorpaper,carpet,chaetophora,cnegative,cpositive,davincitree2,davincitree3,davincitree4,dendrite,ethiopian,ethiopian2,fern,fractalspirals,goldenrec,kitwe,koch,kochsmall,logone,lungs,mokoulek,nankani,negative,neuron,positive,queenanne,riverbasin,sierpinski,sprout,turbulence,villi,sharkfin" data-seed="{{pk_num}}"></div>

  </div>


</body>

</html>

{% endblock %}