{% extends 'base.html' %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load project_share_tags %}

{% block content %}

    <div class="row">
      <div class="col-md-6" >

        <h2><b>{% if object.avatar %}{% thumbnail object.avatar "48x48" crop="center" as im %}<img src="{{ im.url }}">&nbsp{% endif %}{{ object.display_name }} (@{{ object }})</b></h2>


        {% if object.bio %}<p style="font-size: 1.2em;">{{ object.bio }}</p>{% else %}<p style="font-size: 1.2em;"><i>No bio</i></p>{% endif %}
        <p>
          {% if object.id == user.id %}<a href="{% url 'extendeduser-update' pk=object.id %}" style=""><button class="edit-btn" style="">Update Profile</button></a>

            <a href="{% url 'account_change_password' %}" style=""><button class="edit-btn" style="">Change Password</button></a>
          {% endif %}


      </div>
    </div>





    <div id="span12">
        <h3>{% if object.id == user.id %}My{% else %} {{ object.username }}'s{% endif %} Projects</h3>
    </div>
    {% include 'project_share/project_filter.html' %}

    <div class="thumbnails">
        {% for object in object_list %}
            {% if object.approved %}
                {% include "_project_thumbnail.html" %}
            {% endif %}
        {% endfor %}
    </div>

    {% if object.id == user.id %}
    <div id="span12">
        <h3>Projects pending approval</h3>
    </div>
    <div class="thumbnails">
        {% for object in object_list %}
            {% if not object.approved %}
                {% include "_project_thumbnail.html" %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}


{% endblock %}

{% block css %}
<style>
  .edit-btn {
    padding: 7px 12px;
    border-radius: 6px;
    border: 2px solid lightgrey;
    color:black;
    background-color: white;
    transition: border 1s;
  }
  .edit-btn:hover {
    color: black;
    border: 2px solid black;
    transition: border 1s;
  }

</style>
{% endblock %}
