{% extends 'base.html' %}
{% load thumbnail %}
{% load project_share_tags %}

{% block content %}
    <div class="page-header">
        <h1>{{ object }}'s Profile <small><br><a href="{% url 'account_change_password' %}">Change password</a>
          {% if object.address %}
            <br><a href="{% url 'address-update' pk=object.id %}">Change address</a>
          {% endif %}
        </h1>
    </div>

    <div id="span12">
        <h3>My Projects</h3>
    </div>
    <div class="thumbnails">
        {% for object in object|unrestricted_projects:user %}
            {% if object.approved %}
                {% include "_project_thumbnail.html" %}
            {% endif %}
        {% endfor %}
    </div>

    <div id="span12">
        <h3>Projects pending approval</h3>
    </div>
    <div class="thumbnails">
        {% for object in object|unrestricted_projects:user %}
            {% if not object.approved %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                            <a href="{% url 'project-update' pk=object.id %}"><img src="{% thumbnail object.screenshot.f 300x300 crop %}" alt="Screenshot of {{ object.name }}"></a>
                         <div class="caption">
                            <h4>{{ object.name }}</h4>
                            <p>{{ object.description|truncatewords:10 }}</p>
                            <p>
                                <a href="{% url 'project-run-detail' pk=object.pk %}" class="btn btn-large btn-primary">Open</a>
                                <a href="{% url 'project-present-detail' pk=object.pk %}" class="btn btn-large btn-info">Open for Presentation</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}
