{% extends 'base.html' %}
{% load thumbnail %}
{% load project_share_tags %}

{% block content %}
    <div class="page-header">
        <h1>{{ object }}'s Profile <small><br><a href="{% url 'account_change_password' %}">Change password</a>
          {% if object.address %}
            <br><a href="{% url 'address-update' pk=object.id %}">Change address</a>
          {% endif %}
        </h1>
    </div>

    <div id="span12">
        <h3>My Projects</h3>
    </div>
    <div class="thumbnails">
        {% for object in object|unrestricted_projects:user %}
            {% if object.approved %}
                {% include "_project_thumbnail.html" %}
            {% endif %}
        {% endfor %}
    </div>

    <div id="span12">
        <h3>Projects pending approval</h3>
    </div>
    <div class="thumbnails">
        {% for object in object|unrestricted_projects:user %}
            {% if not object.approved %}
                {% include "_unpublished_project_thumbnail.html" %}
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}
