{% extends 'base.html' %}

  {% load teams %}

  {% block page-header %}
  {% endblock %}

  {% block content %}
  <div class="row" align="right">
      {% if user.is_authenticated %}
          <h4><a href="{% url 'team-create' %}">Create your own</a></h4>
      {% endif %}
  </div>



  <div class="row">
      <h2>Classrooms: </h2>
  </div>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Classroom Name</th>
                  <th>Classroom Description</th>
                  <th>Classroom Owners</th>
                  <th># of members</th>
                  <th>Your status</th>
              </tr>
          </thead>
          {% if user.is_authenticated %}
            {% for object in object_list %}

              {% with ts=object|get_user_status:user %}
                {% if ts.role == 20 %}
                  {% include "django_teams/_table.html" %}

                {% endif %}
              {% endwith %}
            {% endfor %}
            {% for object in object_list %}

              {% with ts=object|get_user_status:user %}
                {% if ts.role == 10 %}
                  {% include "django_teams/_table.html" %}

                {% endif %}
              {% endwith %}
            {% endfor %}
            {% for object in object_list %}

              {% with ts=object|get_user_status:user %}
                {% if ts.role == 1 %}
                  {% include "django_teams/_table.html" %}

                {% endif %}
              {% endwith %}
            {% endfor %}
          {% endif %}
          {% if user.is_anonymous %}
            {% for object in object_list %}
              {% include "django_teams/_table.html" %}

            {% endfor %}
          {% else %}
            {% for object in object_list %}

              {% with ts=object|get_user_status:user %}

                {% if not ts.role == 10 and not ts.role == 20 and not ts.role == 1 %}

                  {% include "django_teams/_table.html" %}

                {% endif %}
              {% endwith %}

            {% endfor %}
          {% endif %}
      </table>
  {% endblock %}
