{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-md-2">
  </div>

<div class='col-md-8 col-sm-6'>
    <h1>Date Search:</h1>
<p>
<p>
{% if object_list %}
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
        <a href='{{ obj.get_absolute_url }}'>
         <img src='{{ obj.image.url }}'  class='img-responsive' />
        </a>
        {% endif %}
      <div class="caption post-detail-item">
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br> <small>{{ obj.publish }}</small></h3>
        {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
        {{ obj.get_markdown|truncatechars_html:120 }}
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}
{% else %}

{% endif %}






</div>
<div class="col-md-2">
</div>
</div>
{% endblock content %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" >
{% endblock %}
