{% load thumbnail %}		
		
        <div class="thumbnail-long" width="100%">		
            <div class="heading" width="100%">		
                <h3><a href="{% url 'project-detail' pk=obj.id %}">{{ obj }}</a></h3>		
            </div>		
            <div class="body" width="100%">		
                <div class="image" width="100%">		
                      {% thumbnail obj.screenshot.f "400x400" as im %}		
                      <a href="{% url 'project-detail' pk=obj.id %}"><img class="img-polaroid" src="{{ im.url }}" width="100%"></a>		
                      {% endthumbnail %}		
                </div>		
                <div class="description">		
                    <p>{{ obj.description }}</p>		
                </div>		
            </div>		
        </div>