
<body ng-controller="ChartsCtrl">



<div class="jumbotron">
<div class="border">
 <div class="container sections-wrapper">
        <div class="row">
        	 <section class="about section">
        	  <div class="section-inner">
                        <h2 class="heading">Geographical Information System for school kids:</h2>
                        <div class="content">
                            
         	The basic idea is to provide students with different data sources that might be interesting for the kids in measuring different datasets such as neighborhood medium incomes, gun ownership, IT accessibility, grocery stores, pollution. Kids will be able to measure their neighborhood and will learn generative justice in the class by comparing how prosperous their neighborhood is. Other primary goal is to make it useful for teachers teaching kids. We will be making our system as eClassroom where teachers and students will be able to login and teachers will be able to see what tags kids have added.
        <p></p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->  
        	 </section>
        </div>
        <div class="row">
        	 <section class="about section">
        	  <div class="section-inner">
                        <h2 class="heading">Users of the System</h2>
                        <div class="content">
                            
         	Anyone who wants to compare his neighborhood in the state of New York will be able to use this application to add his own custom tags. It is also helpful for teachers teaching kids about generative justice. Additionally, kids will be able to compare neighborhood in the class by looking at the interactive charts corresponding to their neighborhood. 
        <p></p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->  
        	 </section>
        </div>
         <div class="row">
        	 <section class="about section">
        	  <div class="section-inner">
                        <h2 class="heading">Developers GitHub Link</h2>

                        <div class="content">
                            
         	
        	<p>Front-End Developer: Gouravjeet Singh : 
        	<a href="https://github.com/gouravjeet/SGIS-2.0">https://github.com/gouravjeet/SGIS-2.0</a> <br></p>
        	<p>Back-End Developer: Kathleen Tully : 
        	<a href="https://github.com/kathleentully/gis_csdt">https://github.com/kathleentully/gis_csdt</a> <br></p>
        	<h5>Note: Installation guide is provided on Github</h5>
        	</div>
        	</section>
        </div>
        <div class="row">
        	 <section class="about section">
        	  <div class="section-inner">
                        <h2 class="heading">Licence</h2>

                        <div class="content">
                        Copyright (c) 2014, Rensselaer Polytechnic Institute
All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
<br>
1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
<br>
2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
<br>
3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
<br>
<br>

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

        </div>
  </div>
   
	<table>
	  <tr ng-repeat="x in data" models="x">
	    <td>{{ x.name }}</td>
	  </tr>
	</table>
</div>


</body>
