<body ng-app="socialjusticeApp" ng-controller="MainCtrl">
  <div class="container-fluid">
    <google-map id="mapcan" bounds='northeast' center="map.center" zoom="map.zoom" draggable='true' options="map.options" events="map.events" refresh="'refresh'" control="map.control" bounds="map.bounds">
      <marker idKey="1" ng-repeat="n in newMark" icon="image.home" coords="n" options="editTagEvents.options" events="editTagEvents.events">
      </marker>
      <window show="showWindow" options="infoWindowWithCustomClass.options">
        <p>Home</p>
      </window>
      <window show="showWin"  coords="tableRow.coords">
         <div> 
            <p > {{tableRow.name}} </p>
            <p>{{tableRow.street}}</p>
          </div>
      </window>
      <markers ng-repeat="t in data" doCluster="doCluster" models="t" coords="'self'" click="'onClicked'" icon="'img'" events="editTagEvents.events" >
        <windows show="true" closeClick="'closeClick'" options="infoWindowWithCustomClass.options">
          <div>
            <p ng-non-bindable>  Name:  {{name}} <br> Address: {{street}},{{city}}
            <br> County: {{county}}
            <br>Tags: {{tags[0].tag}} {{tags[1].tag}} {{tags[2].tag}} {{tags[3].tag}} </p>
          </div>
        </windows>
      </markers>
    <!-- Location services  -->
      <markers models="dataLocation" doCluster="doCluster" coords="'self'" events="editTagEvents.events">
      <polygon ng-repeat="d in polyData1" path="d.geometry" fill='fillcolor' stroke='strokecolor' clickable="true" events="polygonEvents" >
      </polygon>
    </google-map>
  </div>
  <div class="left-panel" >
    <form novalidate class="simple-form">
      <div class="input-group input-group-sm">
        <input id="pac-input" type="text" id="Autocomplete1" class="form-control" placeholder="Search dataset by places"
        ng-model="autocomplete" ng-autocomplete="result"  details="details" data-animation="am-flip-x" ng-options="options">
        <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="convertCoords()" type="button"><i class="glyphicon glyphicon-search"> </i></button>
        </span>
      </div>
    </form> 
    <div class="panel panel-info">
      <div class="panel-heading">
        <nav class="navbar navbar-primary" role="navigation">
          <div class="container-fluid">
               
            <button class="btn btn-primary btn-sm" ng-model="singleModel" type="button" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" class="btn btn-default btn-xs" ng-click="refreshMap()">REFRESH
              <span class="glyphicon glyphicon-refresh">  </span>
            </button>
            <button id="but1" value="Stop Loading" class="btn btn-primary btn-sm" type="button" class="btn-xs btn-default btn-xs" ng-click="saveState()"> STOP LOADING</button>
            <button class=" btn btn-primary btn-sm" type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#demo">
            <i class="glyphicon glyphicon-play fa-rotate-90"> </i>
            </button>
          </div><!-- /.container-fluid -->
        </nav>
      </div>
      <!-- panel body -->
      <div class="panel-body" class="collapse in" id="demo">
        <form name="myForm">
        <label class="btn btn-primary btn-sm">
           <input type="checkbox" ng-model="polygoncheck" ng-click="showHidePoly()">POLYGONS</input>
        </label>
        <label class="btn btn-primary btn-sm">
          <input type="checkbox" ng-model="doCluster" ng-click="clusterFunc()">CLUSTERING</input>
          </label>
          <div class="checkbox" ng-repeat="source in sources">
              <input type="checkbox" ng-model="selectedSource[source.id]" ng-disabled="selectedSourceDisabled[source.id]" ng-click="onSelect(source.id)">{{ source.name | uppercase}}</input>
          </div>
        </form>
      <div class="input-group">
          <tags-input ng-model="selectedTag" display-property="tag"  placeholder="Filter by Tag" ng-options="state for state in states">
                  <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
          </tags-input>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="checkFilter()" > <span class="glyphicon glyphicon-filter"></span></button>
            <button class="btn btn-primary" type="button" ng-click="Default()" > <span class="glyphicon glyphicon-save"></span></button> 
          </span>
      </div><!-- /input-group -->
      <div class="input-group">
          <span >
            <input type="radio" name="matchfilter" ng-model="matchModel" value="any" checked>
          </span>
         <span class="label label-primary" >Match Any</span>
          <span >
            <input type="radio" name="matchfilter" ng-model="matchModel" value="all">
          </span>
         <span class="label label-primary" >Match All</span>

        </div><!-- /input-group -->
        <div>
       
        </div>

      </div><!-- panel body -->
    </div> <!-- panel -->
<div class="right-panel">

<div class="panel panel-info">
    <div class="panel-heading">
      <div class="btn-group" role="group">
     <button type="button" class="btn btn-primary btn-sm" ng-model="selectedSet" data-html="1" ng-options="icon.name for icon in sources" bs-select>
      Action <span class="caret"></span>
    </button>
    <button class="btn btn-primary btn-sm" data-placement="bottom" ng-click="selectData()" data-animation="focus" autoClose="true" >Show</button>
  </div>
  <!-- bs-popover="popover" -->
   <button class="btn btn-primary btn-sm" type="button">
  
  Points:{{sources.name[2]}} <span class="badge">{{sources.name}}{{pointsLoaded}}</span>
 
</button>
</div> 
  <div class="panel-body" class="collapse in" id="rightp" >

  <table st-table="u" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="name">NAME</th>
        <th></th>
        <th></th>
        <th></th>
        <th st-sort="street">ADDRESS</th>
        <th></th>
        <th></th>
        <th></th>
        <th st-sort="city">CITY</th>
      </tr>
    </thead>
    <tbody>
      <tr st-select-row="row" st-pagination-scroll st-select-mode="multiple" ng-repeat="row in temporary" ng-click="selectTable()">
          <td>{{row.name | uppercase }}</td>
          <td>{{row.street | uppercase }} </td>
          <td>{{row.city | uppercase}}</td>
      </tr>
    </tbody> 
  </table>
      </div>
    
      </div> 
</div>
  </div>                 
  </div>
</body>
