<body ng-controller="LoginCtrl">	
	<div class="container">	
		<div class="jumbotron">
			<form name="registerForm" novalidate>
				<div class="form-group" show-errors>
					<label class="control-label">First Name:</label>
					<input type="text" class="form-control input-sm" name="firstname" ng-model="newuser.firstname" required placeholder="Firstname" />
					<span class="help-block" ng-if="registerForm.firstname.$error.required"> FirstName is required</span>
				</div>
				<div class="form-group" show-errors>
					<label class="control-label">Last Name:</label>
					<input type="text" class="form-control input-sm" name="LastName" ng-model="newuser.LastName" required placeholder="LastName" />
					<span class="help-block" ng-if="registerForm.LastName.$error.required"> LastName is required</span>
				</div>
				<div class="form-group" show-errors>
					<label class="control-label">UserName</label>
					<input type="text" class="form-control input-sm" name="username" ng-model="newuser.username" required placeholder="UserName" />
					<span class="help-block" ng-if="registerForm.username.$error.required"> Username is required</span>
				</div>
				<div class="form-group" show-errors>
					<label class="control-label">Password:</label>
					<input type="password" class="form-control input-sm" name="password1" ng-model="newuser.password1" required placeholder="Password" />
					<span class="help-block" ng-if="registerForm.password1.$error.required">The user's password is required</span>
				</div>
				<div class="form-group" show-errors>
					<label class="control-label">Password Again:</label>
					<input type="password" class="form-control input-sm" name="password2" ng-model="newuser.password2" required placeholder="Password" />
					<span class="help-block" ng-if="registerForm.password2.$error.required">The user's password is required</span>
				</div>
				<div class="form-group" show-errors>
					<input type="radio" ng-model="newuser.typeuser" value="user" ng-required>  User <br/>
					<input type="radio" ng-model="newuser.typeuser" ng-value="Administrator" ng-required> Administrator <br/>	<br>
				</div>	
				<button class="btn btn-primary" ng-click="register(newuser)">Register</button>
			</form>
		</div>
	</div>	
</body>	