<!-- Static navbar -->



              <nav class="navbar navbar-inverse navbar-fixed-top">

                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="http://www.nsf.gov"><img style="height: 40px;margin-top: -10px;margin-right:10px;" alt="NSF" src="/static/img/nsf.gif"></a>

                      <a class="navbar-brand" href="{% url 'home' %}"><img style="height: 40px;margin: -10px;" alt="CSDT" src="/static/img/CSDT.LOGO2-SMALL.jpg"></a>

                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Applications</a></li>
                        <li><a href="{% url 'project-list' %}">Projects</a></li>
                        <li><a href="{% url 'team-list' %}">Classrooms</a></li>
                        <li><a href="{% url 'blogposts:list' %}">News</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'extendeduser-detail' pk=user.id %}">My Profile</a></li>
                        {% endif %}
                      </ul>
                        <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}

                            <li><a href="{% url 'account_logout' %}">Log out</a></li>

                        {% else %}

                            <li><a  href="{% url 'account_login' %}">Login</a></li>

                        {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                  </div>
                </nav>
