<!-- Static navbar -->



              <nav class="navbar navbar-inverse navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="{% url 'home' %}"><img style="height: 100%;" alt="CSDT" src="/static/img/CSDT.LOGO2.jpg">

                      <!--<span>
                        <svg id="toolbar-logo"
                           xmlns:dc="http://purl.org/dc/elements/1.1/"
                           xmlns:cc="http://creativecommons.org/ns#"
                           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                           xmlns:svg="http://www.w3.org/2000/svg"
                           xmlns="http://www.w3.org/2000/svg"
                           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                           width="26.185751mm"
                           height="15.328377mm"
                           viewBox="0 0 92.784157 54.313146"
                           id="svg2"
                           version="1.1"
                           inkscape:version="0.91 r13725"
                           sodipodi:docname="csdt.svg">
                          <defs
                             id="defs4" />
                          <sodipodi:namedview
                             id="base"
                             pagecolor="#ffffff"
                             bordercolor="#666666"
                             borderopacity="1.0"
                             inkscape:pageopacity="0.0"
                             inkscape:pageshadow="2"
                             inkscape:zoom="1.4"
                             inkscape:cx="231.38327"
                             inkscape:cy="-15.798168"
                             inkscape:document-units="px"
                             inkscape:current-layer="layer1"
                             showgrid="true"
                             inkscape:window-width="1680"
                             inkscape:window-height="974"
                             inkscape:window-x="0"
                             inkscape:window-y="1"
                             inkscape:window-maximized="1"
                             fit-margin-top="1"
                             fit-margin-right="1"
                             fit-margin-bottom="1"
                             fit-margin-left="1"
                             units="px">
                            <inkscape:grid
                               type="xygrid"
                               id="grid3348"
                               originx="-505.94923"
                               originy="-2081.4069" />
                          </sodipodi:namedview>
                          <metadata
                             id="metadata7">
                            <rdf:RDF>
                              <cc:Work
                                 rdf:about="">
                                <dc:format>image/svg+xml</dc:format>
                                <dc:type
                                   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                <dc:title></dc:title>
                              </cc:Work>
                            </rdf:RDF>
                          </metadata>
                          <g
                             inkscape:label="Layer 1"
                             inkscape:groupmode="layer"
                             id="layer1"
                             transform="translate(-161.55993,-304.83734)">
                            <text class="toolbar-logo-text" fill="#000"
                               xml:space="preserve"
                               style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40px;line-height:125%;-inkscape-font-specification:STIXSizeFiveSym;letter-spacing:0px;word-spacing:0px;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                               x="162.85715"
                               y="338.07648"
                               id="text3336"

                               sodipodi:linespacing="125%"><tspan
                                 sodipodi:role="line"
                                 id="tspan3338"
                                 x="162.85715"
                                 y="338.07648">C</tspan></text>
                            <text class="toolbar-logo-text" fill="#000"
                               xml:space="preserve"
                               style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;letter-spacing:0px;word-spacing:0px;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                               x="181.96429"
                               y="355.04077"
                               id="text3340"
                               sodipodi:linespacing="125%"><tspan
                                 sodipodi:role="line"
                                 id="tspan3342"
                                 x="181.96429"
                                 y="355.04077"
                                 style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;-inkscape-font-specification:STIXSizeFiveSym">S</tspan></text>
                            <text class="toolbar-logo-text" fill="#000"
                               xml:space="preserve"
                               style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40px;line-height:125%;-inkscape-font-specification:STIXSizeFiveSym;letter-spacing:0px;word-spacing:0px;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                               x="199.82143"
                               y="337.5408"
                               id="text3344"
                               sodipodi:linespacing="125%"><tspan
                                 sodipodi:role="line"
                                 id="tspan3346"
                                 x="199.82143"
                                 y="337.5408">D</tspan></text>
                            <text class="toolbar-logo-text" fill="#000"
                               xml:space="preserve"
                               style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;letter-spacing:0px;word-spacing:0px;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                               x="226.25"
                               y="355.04077"
                               id="text3350"
                               sodipodi:linespacing="125%"><tspan
                                 sodipodi:role="line"
                                 id="tspan3352"
                                 x="226.25"
                                 y="355.04077"
                                 style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;-inkscape-font-specification:STIXSizeFiveSym">T</tspan></text>
                          </g>
                        </svg></span>-->
                          
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Applications</a></li>
                        <li><a href="{% url 'project-list' %}">Projects</a></li>
                        <li><a href="{% url 'team-list' %}">Classrooms</a></li>
                        <li><a href="{% url 'blogposts:list' %}">News</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'extendeduser-detail' pk=user.id %}">My Profile</a></li>
                        {% endif %}
                      </ul>
                        <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}

                            <li><a href="{% url 'account_logout' %}">Log out</a></li>

                        {% else %}

                            <li><a  href="{% url 'account_login' %}">Login</a></li>

                        {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                  </div>
                </nav>
