        {% if is_paginated %}
            <span class="page-links">
              {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number is not 1 %}<a href="{% url 'project-list' %}?{% if filter_val %}filter={{ filter_val }}&{% endif %}{% if order %}orderby={{ order }}&{% endif %}{% if term %}q={{ term }}&{% endif %}page=1">first.</a>{% endif %}
                <a href="{% url 'project-list' %}?{% if filter_val %}filter={{ filter_val }}&{% endif %}{% if order %}orderby={{ order }}&{% endif %}{% if term %}q={{ term }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                <a href="{% url 'project-list' %}?{% if filter_val %}filter={{ filter_val }}&{% endif %}{% if order %}orderby={{ order }}&{% endif %}{% if term %}q={{ term }}&{% endif %}page={{ page_obj.next_page_number }}">next.</a>
                {% if page_obj.next_page_number is not page_obj.end_index %}<a href="{% url 'project-list' %}?{% if filter_val %}filter={{ filter_val }}&{% endif %}{% if order %}orderby={{ order }}&{% endif %}{% if term %}q={{ term }}&{% endif %}page={{ page_obj.end_index }}">last</a>{% endif %}
              {% endif %}
            </span>
        {% endif %}
