{% load thumbnail %}
<div class="col-sm-4 col-md-3">
    <div class="thumbnail" style="height: 350px; overflow: auto;">
	<a href="{% url 'project-update' pk=object.id %}">
        {{ object }}
        <img src="{% thumbnail object.screenshot.file_path 200x200 crop %}" alt="Screenshot of {{ object.name }}"></a>
         <div class="caption">
		<a href="{% url 'project-update' pk=object.id %}">
			<h4>{{ object.name }}</h4>
		</a>
            <p>{{ object.description|truncatewords:10 }}</p>
        </div>
    </div>
</div>
