{% load cms_tags sekizai_tags %}
{% load rpi_csdt_community_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}CSDT Community{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% render_block "css" %}
    {% compress css %}
        {% block extra_style %}
    	    <link rel="stylesheet" href="{{ STATIC_URL }}less/style.less" type="text/less" charset="utf-8">
            <!-- Have base stylesheet -->
        {% endblock %}
    {% endcompress %}

    {% block extra_head %}{% endblock %}
  </head>

  <body>


    <!-- Static navbar -->
    {% cms_toolbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">CSDT Community</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'project-list' %}">Projects</a></li>
                    <li><a href="{% url 'application-list' %}">Create</a></li>
                    <li><a href="{% url 'team-list' %}">Classrooms</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'team-create' %}">Create Classroom</a></li>
                        <li><a href="{% url 'extendeduser-detail' pk=user.id %}">My Profile</a></li>
                    {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <form class="navbar-form navbar-left" role="search">
                        <li><a class="btn btn-default" href="{% url 'account_logout' %}">Log out</a></li>
                    </form>
                    {% else %}
                    <form class="navbar-form navbar-left" role="search">
                        <li><a class="btn btn-default" href="{% url 'account_login' %}">Login</a></li>
                    </form>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    {% block pre-body %}
    {% endblock %}


    {% placeholder base_content %}
    {% block base_content %}{% endblock %}
    {% render_block "js" %}

    <div class="container">
        {% if ''|is_warning_message %}
            <div class="warning" role="alert">{{ ''|get_warning_message|safe }}</div>
        {% endif %}
        {% block breadcrumb %}
        {% endblock breadcrumb %}
        {% block content %}{% endblock %}
    </div> <!-- /container -->

    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/transition.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/modal.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/dropdown.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/scrollspy.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/tab.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/tooltip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/popover.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/alert.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/button.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/collapse.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/carousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}twitter_bootstrap/js/affix.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/fluid-resize.js"></script>
    {% endcompress %}
    {% block js %}
    {% endblock %}
    {% block extra_script %}{% endblock %}

  </body>
</html>
