{% load pipeline %}
{% load rpi_csdt_community_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}CSDT Community{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% stylesheet 'base_style' %}

    {% block extra_style %}{% endblock %}

    {% block extra_head %}{% endblock %}
  </head>

  <body>


    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">CSDT Community</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'project-list' %}">Projects</a></li>
                    <li><a href="{% url 'application-list' %}">Create</a></li>
                    <li><a href="{% url 'team-list' %}">Classrooms</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'team-create' %}">Create Classroom</a></li>
                        <li><a href="{% url 'extendeduser-detail' pk=user.id %}">My Profile</a></li>
                    {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}">Log out</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    {% block pre-body %}
    {% endblock %}

    <div class="container">
        {% if ''|is_warning_message %}
            <div class="warning" role="alert">{{ ''|get_warning_message|safe }}</div>
        {% endif %}
        {% block breadcrumb %}
        {% endblock breadcrumb %}
        {% block content %}{% endblock %}
    </div> <!-- /container -->

    {% javascript 'jquery' %}
    {% javascript 'bootstrap' %}
    {% block js %}
    {% endblock %}
    {% block extra_script %}{% endblock %}

  </body>
</html>
