{% extends 'base.html' %}
{% load taggit_templatetags2_tags %}
{% load thumbnail %}
{% load socialaccount %}
{% load static %}

{% block content %}

<div class="container content-wrap">
    <div class="page-header">
        <h2>Cultures</h2>
    </div>
    <div class="row match-my-cols tiles">

    {% for app in object_list %}

    <a href="{{ app.url }}">
    <div class="card col-sm-6 col-md-3">
        <div class="card-block well" style="height: 540px">
            <div class="thumbnail no-underline"><img class="img-responsive" src="{{ app.screenshot.url }}">
            <h3 class="caption">{{ app.name }}</h3>
            <p class="module-description">{{ app.description }}</p>
            </div>
        </div>
    </div>
    </a>

    {% endfor %}

    </div>


</div>

{% endblock %}

{% block js %}
<script>
$(function() {
    $('.row').each(function() {
        var intHeight = 0;
        $(this).find('.well').each(function() {
            if ($(this).outerHeight() > intHeight) {
                intHeight = $(this).outerHeight()
            }
        });
        console.log(intHeight);
        $(this).find('.well').each(function() {
            $(this).outerHeight(intHeight)
        });
    });
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" >
{% endblock %}
