{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
<div class='col-sm-8 col-sm-offset-2'>
    <h1>News</h1>
<form method='GET' action='' class='row'>
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>
</div>
</div>
<p>
<div class="row">
  <div class="col-md-2">
    Tags:
    <p>
    {% for tag in tags %}
    <a href="{% url 'blogposts:tag' tag %}">{{tag}}</a>&nbsp
    {% endfor %}
  </div>
  <div class="col-md-8">
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
        <a href='{{ obj.get_absolute_url }}'>
         <img src='{{ obj.image.url }}'  class='img-responsive' />
        </a>
        {% endif %}
      <div class="caption post-detail-item">
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br> <small>{{ obj.publish }}</small></h3>
        {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
        {{ obj.get_markdown|truncatechars_html:120 }}
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}
  </div>
  <div class="col-md-2">
    {% for month in posts_per_month %}
      <a href="{% url 'blogposts:date' month.year month.month month.day %}">{{ month }}</a>
    {% endfor %}

    {% for event_year in list_events %}
        <ul class="year">{{event_year.keys.0}}
            {% for month, events in event_year.values.0.items %}
                <!--show only months with events! -->
                {% if events %}
                    <li id="{{event_year.keys.0}}-{{month}}" class="month">
                        <div class="month-data">
                            <div class="collapsed">►&nbsp;<span class="name">{{events.0.publish|date:"F"}}</span>
                            <span class="counter"> ({{events|length}})</span></div>
                            <div class="expanded" style="display:none;">▼&nbsp;
                            <span class="name">{{events.0.publish|date:"F"}}</span>
                            <span class="counter"> ({{events|length}})</span>
                            </div>
                        </div>
                        <ul class="events" style="display:none;">
                        {% for event in events %}
                            <li class="event">
                            <a class="title" href="{% url 'blogposts:date' event.publish|date:"Y" event.publish|date:"n" event.publish|date:"d" %}">{{event.publish|date:"j M Y"}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-2"">




<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>
</div>

{% endblock content %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" >
{% endblock %}

{% block js %}
<script>
    // toggle month
    var toggleMonth = function(month) {
        $(month).children('.events').slideToggle('slow');
        $(month).find('.month-data div.collapsed').toggle();
        $(month).find('.month-data div.expanded').toggle();
    }

    // expand the current month
    toggleMonth($('#{{now.year}}-{{now.month}}'));

    // intercept click to toggle month
    $('.month-data').click(function() {
        var month = $(this).parent();
        toggleMonth(month);
    });
</script>
{% endblock js %}
