{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
<div class='col-sm-8 col-sm-offset-2'>
    <h1>News</h1>
      <form method='GET' action='' class='row'>
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <button class='btn btn-primary' type='submit'>Search <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>
</div>
</div>
<p>
<div class="row">
  <div class="col-md-2">
    {% if selected_tags %}
      <a href="{% url 'blogposts:list' %}">Reset Categories</a>
      <p>
      </p>
      Available
    {% endif %}
    Categories:
    <p>
      {% for tag in available_tags %}
        <a href="{% url 'blogposts:list' %}?tag={{tag}}">{{tag}}</a><br>
      {% endfor %}
    </p>
  </div>
  <div class="col-md-8">
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
        <a href='{{ obj.get_absolute_url }}'>
         <img src='{{ obj.image.url }}'  class='img-responsive' />
        </a>
        {% endif %}
      <div class="caption post-detail-item">
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br> <small>{{ obj.publish }}</small></h3>
        {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
        {{ obj.get_markdown|truncatechars_html:120 }}
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}
</div>
<div class="col-md-2">
{% for event_year in list_events %}
    <ul class="year" style="list-style-type: none;margin-left:0px;padding-left:0px;">{{event_year.0.0.publish.year}}
        {% for event_month in event_year %}
            <li id="{{month.0.publish.month}}-{{month}}" class="month">
                <div class="month-data">
                    <div class="collapsed">►&nbsp;<span class="name">{{event_month.0.publish|date:"F"}}</span>
                    <span class="counter"> ({{event_month|length}})</span></div>
                    <div class="expanded" style="display:none;">▼&nbsp;
                    <span class="name">{{event_month.0.publish|date:"F"}}</span>
                    <span class="counter"> ({{event_month|length}})</span>
                    </div>
                </div>
                <ul class="events" style="display:none;">
                {% for event in event_month %}
                    <li class="event">
                    <a class="title" href="{{ event.get_absolute_url }}">{{event.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="footer">
      {% if is_paginated %}
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{% url 'blogposts:list' %}?{% if selected_tags %}tag={% for tag in selected_tags %}{{tag}}{% endfor %}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="{% url 'blogposts:list' %}?{% if selected_tags %}tag={% for tag in selected_tags %}{{tag}}{% endfor %}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" >
{% endblock %}

{% block js %}
<script>
    // toggle month
    var toggleMonth = function(month) {
        $(month).children('.events').slideToggle('slow');
        $(month).find('.month-data div.collapsed').toggle();
        $(month).find('.month-data div.expanded').toggle();
    }
    let date = new Date();

    // expand the current month
    string3 = `${date.getFullYear()}-${date.getMonth()}`

    toggleMonth($("#" + string3));

    // intercept click to toggle month
    $('.month-data').click(function() {
        var month = $(this).parent();
        toggleMonth(month);
    });
</script>
{% endblock js %}
